

.footer {
    border: 1px solid #D1D1D1;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding: 16px;
    position: fixed;
    bottom: 0px;
    background: #ffffff;
    width: 100%;
  }
  
  
  
  .footer-actions {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    // flex-wrap: wrap; /* Optional for responsiveness */
  }
  
  .btn {
    display: inline-flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    border-radius: 32px;
    white-space: nowrap;
    width: 100%;
    
    &.light_blue {
      background: #d9edff;
      color: #184ec9;
    }
  
    &.deep_blue {
      background: #184EC9;
      color: #FFFFFF;
    }
  
    img {
      height: 18px;
      width: 18px;
    }
  }
  
  